%tr
  %td#name=         repo.name
  %td#url(hidden)=  repo.url
  %td#id(hidden)=   repo.uid
  %td
    .btn-group
      = render partial: 'button_link', locals: { btn_classes: button_classes(repo.activated) }
