.dashboard.well
  %h3= "#{user.name} repositories"
  %button.btn.btn-success
    =link_to 'add repositories', '#add-repos-modal', 'data-toggle' => 'modal'
  %table.table
    %thead
      %tr
        %th name
        %th add to review
    %tbody
= render partial: 'add_repos_modal'
