.dashboard.well
  %h3= "#{user.name} repositories"
  %a.btn.btn-success(href='#add-repos-modal' data-toggle='modal')
    add repositories
  %table.table
    %thead
      %tr
        %th name
    %tbody
      = render partial: 'local_repo', collection: local_repos, as: 'repo'
= render partial: 'add_repos_modal'
