.dashboard.well
  %h3= "#{user.name} repositories"
  %table.table
    %thead
      %tr
        %th name
        %th add to review
    %tbody
      = render partial: 'repo', collection: repos, as: 'repo'
