header
  .form-control.console
    .remove-console
      opacity: 0
      transition: opacity 1s linear
      -webkit-transition: opacity 1s linear
      cursor: pointer
      background: url(/assets/close-white.png) no-repeat right
      height: 22px
      background-size: 22px

  .console
    width: 70%
    height: 500px

    .run
      height: 90%
      resize: none
      width: 100%
      overflow-x: hidden
      text-align: left

    .run, .remove-console
      opacity: 1 !important
      -webkit-transition: opacity 1s linear .5s !important

    .run span
      display: block

    .run span.inline
      display: inline

  .console .run, .console
    background-color: #202020
    color: white
    display: block
    font-family: monaco
    font-size: 14px
    top: 256px !important
    opacity: 1 !important
    -webkit-transition: opacity 1s linear !important
    z-index: 1
