.container.content
  .workers-status-box
    background: #F3F2F5
    border-radius: 10px
    color: #014054
    margin-bottom: 30px
    min-width: 200px
    padding: 10px
    text-align: center
    width: 28%
    position: absolute
    bottom: 0
    
    p
      margin-top: 10px

    div
      font-size: 20px
      display: block
    
    span
      font-size: 18px

  .script-stage ~ .workers-status-box, .console ~ .workers-status-box
    position: static
    margin: 30px 0
