@import 'mixins/colors'
.footer
  background: $dark-gray
  padding: 22px 10px 10px 10px
  position: absolute
  bottom: 0
  width: 100%

  .container
    min-height: 50px

  .logo-tango
    float: right
    width: 165px
    padding-top: 38px

  .logo-railsrumble
    float: left
    width: 165px
