@import 'mixins/colors'
.footer
  background: $dark-gray
  padding: 22px 10px 10px 10px

  .container
    min-height: 50px

  .logo-tango
    float: right
    padding-top: 38px
    width: 165px

  .logo-railsrumble
    float: left
    width: 165px
