header
  background: asset_url('pattern-blue.jpg')
  min-height: 450px
  text-align: center

  p
    margin: 0 auto
    margin-top: 65px
    font-size: 1.6em
    color: #faf9fc
    text-align: justify
    max-width: 1170px

  img
    margin-top: 65px

  .form-control
    border: 6px solid rgba(0, 0, 0, 0.4)
    border-radius: 15px
    box-sizing: content-box
    min-height: 50px
    margin: 0 auto
    position: relative
    top: 65px
    width: 1170px
    font-size: 1.4em

  .loading-icon
    background: #FFFFFE url(/assets/icon-loading.gif) no-repeat 98% 10px
    background-size: 40px

