.text-url-github
  position: relative
  bottom: -15px
  left: 20px

.text-worker
  bottom: 90px
  left: 530px
  position: absolute
  width: 18%

.worker
  background: #F3F2F5
  border-radius: 10px
  color: #014054
  margin-bottom: 30px
  min-width: 200px
  padding: 10px
  position: absolute
  bottom: 0
  text-align: center
  width: 18%
  
  h3
    margin-top: 10px
  
  span
    font-size: 18px
