.container.content
  position: relative
  min-height: 450px

  .text-url-github
    position: absolute
    top: 6%
    left: -35px
    width: 23%
    min-width: 260px

  .text-worker
    bottom: 23%
    left: 14%
    min-width: 290px
    position: absolute
    width: 15%

  .form-control
    border: 6px solid rgba(0, 0, 0, 0.4)
    border-radius: 15px
    left: 0
    min-height: 80px
    margin: 0 auto
    max-width: 1170px
    position: absolute
    right: 0
    top: -40px
    font-size: 1.4em
    transition: 2s
    -webkit-transition: 2s
