<p>o fortuna velut luna statu vaiabilis semper crescis aut decrescis vita detestabilis nunc obdurat et tunc curat ludo mentis asciem egestatem potestatem dissolvit ut glassciem</p>
<%= text_field_tag 'github_url', nil, class: 'github_url', placeholder: 'https://github.com/path/to/project'%>

