development: &basic_config
  adapter: postgresql
  encoding: unicode
  database: simple_ci_dev
  pool: 5
  username: dev
  password: dev

test:
  <<: *basic_config
  database: simple_ci_test

production:
  <<: *basic_config
  database: simple_ci_production
