@font-face
  font-family: biko
  src: url('biko/Biko_Regular.ttf'), url('biko/Biko_Regular.eot'), url('biko/Biko_Regular.svg#biko') format('svg')

@font-face
  font-family: monaco
  src: url('monaco/monaco.ttf'), url('monaco/monaco.eot'), url('monaco/monaco.svg')

body
  font-family: biko, helvetica
  background: #DDDDDD
  
h1, h2, h3, h4, h5
  font-family: biko, helvetica
