.footer
  .container
    = link_to (image_tag 'logo-tango.png'), 'http://www.tangosource.com/', class: "logo-tango"
    .workers-status-box
      %p
        %div
          Total
          %span.js-total 0
        Busy
        %span.js-busy 0
        \/ Available
        %span.js-available 0
