%header
  - if params[:controller] == "pages" and params[:action] == "index"
    %a(href="https://github.com/tangosource/simple-ci" target='_github')
      %img(style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub")
  .menu
    .pull-right
      = session_links
  = render partial: "layouts/flash"
  .container
    = link_to root_path do
      .simple-ci-logo
    = yield :header_description
